<%- include('../layouts/adminheader.ejs') %>


<div class="container">
<body>
    <h1>Daily Report</h1>
    <!-- <h3 style="margin-left: 40%;padding-bottom: 10px; ">SALES REPORT   <a href="/admin/datewisedownload" class="pb-2 btn btn-primary" >Download</a></h3> -->
    <a href="/admin/salesReport" class="btn btn-info">Go Back</a>
<table id="myTab" class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Product</th>
        
        <th>Category</th>
        
        <th>Price</th>
        <th>Quantity Sold</th>
        <th>Total Sales</th>
      </tr>
    </thead>
    <tbody>
        <% if(sales.length>0){ %>
      <% for(let i = 0; i<sales.length; i++){ %>
        <tr>
          <td><%= sales[i].name%></td>
          
          <td><%= sales[i].category%></td>
          <td><%= sales[i].price%></td>
          <td><%= sales[i].quantity%></td>
          <td><%= sales[i].sales%></td>
          
        </tr>

        <% } %>
        <% }else{ %>
          <p style="color: rgb(245, 13, 13);">No sales found in this date</p>
          <% } %>
      </tbody>
       
    <footer>
      
    </footer>
  </table>
</body>
</div>



<%- include('../layouts/adminfooter.ejs') %>