<% if(id){ %>
    <%-include('../layouts/userloggedinheader.ejs')  %>
    <% }else{ %>
      <%-include('../layouts/userheader.ejs')  %>
      <% } %>

<!-- ****** Checkout Area Start ****** -->
<h1 id="check">Checkout</h1>
<div class="checkout_area section_padding_10">
    
    <div class="container">
        <div class="row">
            
            <div class="col-12 col-md-6">
                <div class="checkout_details_area mt-50 clearfix">

                    
                    <div class="cart-page-heading">
                        <h5>Billing Address</h5>
                        <p>Enter your coupon code</p>
                    </div>
                    
                    <form action="/storeCheckout" method="post">
                        <div class="row">
                            <% if(addselect !=null) {%>
                            <div class="col-md-6 mb-3">
                                <label for="first_name">First Name <span>*</span></label>
                                <input type="text" class="form-control" id="first_name" name="firstname" value="<%= addselect.firstname %> " required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="last_name">Last Name <span>*</span></label>
                                <input type="text" class="form-control" id="last_name" name="lastname" value="<%= addselect.lastname %> " required>
                            </div>
                            <div class="col-12 mb-3">   
                                <label for="country">Country <span>*</span></label>
                                <input type="text" class="form-control" id="country"  name="country" min="0" value="<%= addselect.country %> " required>
                            </div>
                           
                            <div class="col-12 mb-3">
                                <label for="street_address">Address <span>*</span></label>
                                <input type="text" class="form-control mb-3" id="street_address" name="address" value="<%= addselect.address %> " required>
                                <input type="text" class="form-control" id="street_address2"  value="<%=addselect.address2 %> " >
                            </div>
                            <div class="col-12 mb-3">
                                <label for="city">Town/City <span>*</span></label>
                                <input type="text" class="form-control" id="city" name="city" value="<%= addselect.city %>" required>
                            </div>
                            
                            <div class="col-12 mb-3">
                                <label for="state">State <span>*</span></label>
                                <input type="text" class="form-control" id="state" name="state" value="<%= addselect.state %>" required>
                            </div>
                            
                            
                            <!-- <div class="col-12 mb-3">
                                <label for="company">Company Name</label>
                                <input type="text" class="form-control" id="company" value="    ">
                            </div> -->
                            
                            <div class="col-12 mb-3">
                                <label for="postcode">Postcode <span>*</span></label>
                                <input type="text" class="form-control" id="zip" name="zip" value="<%= addselect.zip %>" required>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="phone_number">Phone No <span>*</span></label>
                                <input type="tel" class="form-control" id="phone" name="phone"  min="0" value="<%= addselect.phone %> " required>
                            </div>
                            <!-- <div class="col-12 mb-3">
                                <label for="city">Town/City <span>*</span></label>
                                <input type="text" class="form-control" id="city" value="">
                            </div> -->
                            
                            <!-- <div class="col-12 mb-4">
                                <label for="email_address">Email Address <span>*</span></label>
                                <input type="email" class="form-control" id="email_address" value="">
                            </div> -->
                            <div class="row">
                                <%if(useraddress.length>0){
                                    for(let key of useraddress){%>
                                    <a href="/loadusercheckout?address_id=<%=key._id%>">
                                        <div class="col-md-18 form-group p_star">
                                            <a href="/loadusercheckout?address_id=<%=key._id%>">
                                                <div class="card card-dashboard">
                        
                                                    <a href="/loadusercheckout?address_id=<%=key._id%>">
                                                        <div class="card-body">
                                                            <h3 class="card-title">Shipping
                                                                Address</h3>
                                                            <!-- End .card-title -->
                        
                                                            <p style="color: blue;">
                                                                <%= key.firstname %>
                                                                    <%=key.lastname%><br>
                                                                        <%= key.address %> , <%=
                                                                                key.address2 %>
                                                                                <br>
                                                                          <%= key.city %>
                                                                              , <%=
                                                                                  key.state
                                                                                  %><br>
                                                                                  <%= key.country
                                                                                      %>
                                                                                      <br>
                                                                                      <%= key.zip
                                                                                          %>
                                                                                          <br>
                                                                                          <%= key.phone %>
                                                                                              <br>
                                                                                              <br>
                                                                                              <a class="btn btn-secondary"
                                                                                                  href="/loadEditaddress?id=<%= key._id %>"><i class="icon-close"></i>
                                                                                                  Edit</a>
                                                                                              <a class="btn btn-danger"
                                                                                                  href="/deleteaddress?id=<%= key._id %>"><i class="icon-close"></i>
                                                                                                  delete</a>
                                                            </p>
                                                        </div>
                                                    </a>
                                                    <!-- End .card-body -->
                                                </div>
                                            </a>
                                            <!-- End .card-dashboard -->
                                        </div>
                                    </a>
                                    <!-- End .col-lg-6 -->
                                    <%}}else{%>
                        
                                        <div class="col-lg-6">
                                            <a href="">
                                                <div class="card card-dashboard">
                                                    <div class="card-body">
                                                        <h3 class="card-title">Shipping Address
                                                        </h3>
                        
                                                        <p>You have not set up this type of
                                                            address yet.<br>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <%}%>
                                    </div>
                            
                                    <div class="col-12">
                                <div class="custom-control custom-checkbox d-block mb-2">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Terms and conditions</label>
                                </div>
                                <div class="custom-control custom-checkbox d-block mb-2">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">Create an accout</label>
                                </div>
                                <div class="custom-control custom-checkbox d-block">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3">Subscribe to our newsletter</label>
                                </div>
                            </div>





                            
                            <% }else{ %> 
                                <form action="/storeCheckout" method="post">
                                <div class="col-md-6 mb-3">
                                    <label for="first_name">First Name <span>*</span></label>
                                    <input type="text" class="form-control" id="first_name" name="name" value=" " required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="last_name">Last Name <span>*</span></label>
                                    <input type="text" class="form-control" id="last_name" name="name" value=" " required>
                                </div>
                                <div class="col-12 mb-3">   
                                    <label for="phone_number">Phone No <span>*</span></label>
                                    <input type="number" class="form-control" id="phone_number" name="number"  min="0" value=" " required>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="street_address">Address <span>*</span></label>
                                    <input type="text" class="form-control mb-3" id="street_address" name="add1" value=" " required>
                                    <input type="text" class="form-control" id="street_address2" value="">
                                </div>
                                
                                <div class="col-12 mb-3">   
                                    <label for="country">Country <span>*</span></label>
                                    <input type="text" class="form-control" id="country"  name="city" min="0" value=" " required>
                                </div>
                        
                                <div class="col-12 mb-3">
                                    <label for="city">Town/City <span>*</span></label>
                                    <input type="text" class="form-control" id="city" name="city" value="" required>
                                </div>
                                
                                
                                <div class="col-12 mb-3">
                                    <label for="postcode">Postcode <span>*</span></label>
                                    <input type="text" class="form-control" id="zip" name="zip" value="" required>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="phone_number">Phone no <span>*</span></label>
                                    <input type="tel" class="form-control" id="phone" name="phone" value="" required>
                                </div>

                                <div class="row">
                                    <%if(useraddress.length>0){
                                        for(let key of useraddress){%>
                                        <a href="/loadusercheckout?address_id=<%=key._id%>">
                                            <div class="col-md-18 form-group p_star">
                                                <a href="/loadusercheckout?address_id=<%=key._id%>">
                                                    <div class="card card-dashboard">
                            
                                                        <a href="/loadusercheckout?address_id=<%=key._id%>">
                                                            <div class="card-body">
                                                                <h3 class="card-title">Shipping
                                                                    Address</h3>
                                                                <!-- End .card-title -->
                            
                                                                <p>
                                                                    <%= key.firstname %>
                                                                        <%=key.lastname%><br>
                                                                            <%= key.address %> ,
                                                                             <%= key.address2 %>
                                                                                    <br>
                                                                                    <%= key.country  %>
                                                                                          <%= key.state%>
                                                                                          <br>
                                                                              <%= key.city %>, 
                                                                                          <br>
                                                                                          <%= key.zip %>
                                                                                              <br>
                                                                                              <%=key.phone %>
                                                                                                  <br>
                                                                                                  <br>
                                                                                                   <a  class="btn btn-secondary"  href="/loadEditaddress?id=<%= key._id %>">Edit <i class="icon-edit"></i></a> 
                                                                                                  <a class="btn btn-danger"
                                                                                                      href="/deleteaddress?id=<%= key._id %>">
                                                                                                      delete</a>

                                                                                                      
                                                                </p>
                                                            </div>
                                                        </a>
                                                        <!-- End .card-body -->
                                                    </div>
                                                </a>
                                                <!-- End .card-dashboard -->
                                            </div>
                                        </a>
                                        <!-- End .col-lg-6 -->
                                        <%}}else{%>
                                            
                                            <div class="col-lg-6">
                                                <a href="">
                                                    <div class="card card-dashboard">
                                                        <div class="card-body">
                                                            <h3 class="card-title">Shipping Address
                                                            </h3>
                            
                                                            <p>You have not set up this type of
                                                                address yet.<br>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="btn btn-primary" href="/loadNewAddress">Add Address</a>
                                            </div>
                                            <%}%>
                                </div>
                               
                                <% } %>
                
                                
                        </div>
                        
                        </div>
                        </div>
                    
            <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                <div class="row">
                    
                <div class="order-details-confirmation">

                    <div class="cart-page-heading">
                        <h5>Your Order</h5>
                        <p>The Details</p>
                    </div>
                     
                    <ul class="order-details-form mb-4">
                        <li><span>Product</span> <span>Total</span></li>
                        <% for(let key of cartproducts.item){ %>
                        <li><span><%= key.productId.name %> </span> <span>₹<%= key.productId.price%> X <%=key.qty%> </span></li>
                        <!-- <li><span>Subtotal</span> <span>₹<%= key.productId.price %> </span></li> -->
                        <% } %> 
                        
                        <li><span>Shipping</span> <span>₹45</span></li>
                        <% if(id){ %> 
                        <li><span>Total</span> <span>₹<%= cartproducts.totalprice +45 %> </span></li>
                        <% } %> 
                    </ul>


                    <div id="accordion" role="tablist" class="mb-4">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h6 class="mb-0">
                                    <div class="payment_item active">
                            <div class="radion_btn">
                                <input type="radio" id="f-option6" name="payment" value="RazorPay">
                                <label for="f-option6">Razorpay </label>
                                <img src="img/product/card.jpg" alt="">
                                <div class="check"></div>
                            </div>
                            <p>Pay via Razorpay; you can pay with your credit card if you don’t have a Razorpay
                                account.</p>
                        </div>
                        <table>
                        <tr class="">
                                                                        <td style="padding-bottom: 8px;">
                                                                            Coupon applied 
                                                                        </td>
                                                                        <td style="color: blue;padding-bottom: 8px; " >
                                                                         : <%= offer.name %> 
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="summary-total">
                                                                        <td style="padding-bottom: 8px;">
                                                                            Discount
                                                                        </td>
                                                                        <td style="color: blue;padding-bottom: 8px;">
                                                                           :  <%=offer.discount %>%
                                                                        </td>
                                                                    </tr>
                                    
                                                                    <tr class="summary-total">
                                                                        <td style="padding-bottom: 8px;">Total</td>
                                                                        <td style="color: blue;padding-bottom: 8px;">
                                                                           <% if(id){ %>
                                                                            :  ₹ <%= coupontotal+45 %>
                                                                            <% } %>
                                                                        </td>
                                                                    </tr>
                                                                </table>

                                    </h6>
                                    </div>
                                    
                                    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integ er bibendum sodales arcu id te mpus. Ut consectetur lacus.</p>
                                            </div>
                                            </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingTwo">
                                                    <div class="radion_btn">
                                                        <input type="radio" id="f-option5" name="payment" value="cod" checked>
                                                        <label for="f-option5">Cash On Delivery</label>
                                                        <div class="check"></div>
                                                        </div>
                                                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                                            <div class="card-body">
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quis in veritatis officia inventore, tempore provident dignissimos.</p>
                                                                </div>
                                                                </div>
                                                                </div>
                                                                
                                                                
                                                                
                                                                </div>
                                                                </div>
                                                                
                                                                <button type="submit" class="btn karl-checkout-btn">Place Order</button>
                                                                </form>
                                                                </div>
                                                                </div>
                                                                <br>
                                                                <div class="col-12 col-md-6 col-lg-4">
                        <div class="">
                            <div class="cart-page-heading">
                                <h5>Coupon code</h5>
                                <p>Enter your coupon code</p>
                            </div>
                            <span class="text-danger"><% if(typeof message !== 'undefined'){%>

                          <p style="color: red"><%= message %></p>
                           <%}%></span>
                            <form action="/addcoupon" method="post">
                                <input type="text" name="offer" placeholder="#569ab15" id="checksearch">
                                
                                <button class="btn btn-danger" type="submit" id="coupon-submit">Apply</button>
                                <span id="coupon-span"></span>
                                
                            </form>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
<!-- ****** Checkout Area End ****** -->
     <br>
    <br>
   <br>
 <br>



<script>
$(document).ready(function() {
  // Attach click event handler to update button
  $('#coupon-submit').click(function() {
    // Make AJAX request to server
    $.ajax({
      url: '/addcoupon', // URL of server-side route to handle the request
      method: 'POST', // HTTP method to use (e.g. GET, POST)
      data: { /* Optional data to send with the request */ },
      success: function(response) {
        // Update content of div with response from server
        $('#coupon-span').html(response);
      },
      error: function() {
        alert('Error occurred while updating content');
      }
    });
  });
});


</script>


 <%-include('../layouts/userfooter.ejs')  %> 