<% if(id){ %>
    <%-include('../layouts/userloggedinheader.ejs')  %>
    <% }else{ %>
      <%-include('../layouts/userheader.ejs')  %>
      <% } %> 

<div class="dashboard">
    <div class="container">
        <!-- <div class="row">
            <div class="col-md-4 col-lg-3"> -->
    <form action="/addaddress" method="post" >
        <div class="row">
            <div class="col-lg-9">
                <h2 class="checkout-title">New Address</h2><!-- End .checkout-title -->
                    
                
                    <label>Name *</label>
                     <input type="text" class="form-control" id="firstname" name="firstname"  onkeyup=" validateName()"  required >
                     <span id="nameerror"></span>
                        
                     <label>Last Name *</label>
                     <input type="text" class="form-control" name="lastname"  >
                     

                    <label>Country *</label>
                    <input type="text" class="form-control" id="country" name="country"  onkeyup=" validateCountry()" required >
                    <span id="countryerror"></span>

                    <label>Street address *</label>
                    <input type="text" class="form-control" id="address"  onkeyup=" validateAddress()" placeholder="House number and Street name" name="address" required>
                    <span id="addresserror"></span>
                    

                    <div class="row">
                        <div class="col-sm-6">
                            <label>Town / City *</label>
                            <input type="text" class="form-control" id="city"  name="city"  onkeyup=" validateCity()" required >
                            <span id="cityerror"></span>
                        </div><!-- End .col-sm-6 -->

                        <div class="col-sm-6">
                            <label>State / Country *</label>
                            <input type="text" class="form-control" id="state"  name="state"  onkeyup=" validateState()" required>
                            <span id="stateerror"></span>
                        </div><!-- End .col-sm-6 -->
                    </div><!-- End .row -->

                    <div class="row">
                        <div class="col-sm-6">
                            <label>Postcode / ZIP *</label>
                            <input type="text" class="form-control" id="postcode"  name="zip"  onkeyup=" validatePostcode()" required >
                            <span id="postcodeerror"></span>
                        </div><!-- End .col-sm-6 -->

                        <div class="col-sm-6">
                            <label>Phone *</label>
                            <input type="tel" class="form-control" id="phone"  name="phone"  onkeyup=" validatePhone()" required>
                            <span id="phoneerror"></span>
                        </div><!-- End .col-sm-6 -->
                    </div><!-- End .row -->
                    <br>
                    <br>
                    <button type="submit" class="btn btn-success" value="submit"  onkeyup=" validateForm()" required>
                        <span id="submiterror"></span>
                        <span>Update</span>
                        <i class="icon-long-arrow-right"></i>
                    </button>
                        <a href="/loaddashboard" class="btn btn-primary"><span>GO BACK</span><i class="icon-long-arrow-right"></i></a>
            </div><!-- End .col-lg-9 -->
        </div><!-- End .row -->
    </form>
    </div>
</div><!-- .End .tab-pane -->

<!-- .End .tab-pane -->
<br>
<div class="container">
    <!-- <div class="row"> -->
    
    <p>The following addresses will be used on the checkout page by default.</p>

    

    <div class="row">
        <%if(useraddress.length>0){
            for(let key of useraddress){%>
        <div class="col-lg-6">
            <div class="card card-dashboard">

                <div class="card-body">
                    <h3 class="card-title">Billing Address</h3><!-- End .card-title -->

                    <p><%= key.firstname %> <%=key.lastname%><br>
                        <%= key.address %> <br>
                        <%= key.country %><br>
                         <%= key.state %><br>
                         <%= key.city %> ,
                        <%= key.zip %><br>
                        <%= key.phone %><br>
                       <br>
                    <!-- <a href="#">Edit <i class="icon-edit"></i></a> -->
                    <a href="/deleteaddress?id=<%= key._id %>" class="btn btn-danger"> delete</a>
                    <a href="/loadEditaddress?id=<%=key._id %>" class="btn btn-primary"> Edit Address</a>
                </p>
                </div><!-- End .card-body -->
            </div><!-- End .card-dashboard -->
        </div><!-- End .col-lg-6 -->
        <%}}else{%>

        <div class="col-lg-6">
            <div class="card card-dashboard">
                <div class="card-body">
                    <h3 class="card-title">Shipping Address</h3><!-- End .card-title -->

                    <p>You have not set up this type of address yet.<br>
                    <a href="#">Edit <i class="icon-edit"></i></a></p>
                    <div>
        <a class="nav-link btn  btn-outline-primary-2" id="tab-downloads-link"  href="/loadNewAddress" role="tab" aria-controls="tab-downloads" aria-selected="false">Add Address<i class="icon-edit"></i></a>

    </div>
                </div><!-- End .card-body -->
            </div><!-- End .card-dashboard -->
        </div><!-- End .col-lg-6 -->
        <%}%>
    </div><!-- End .row -->
</div>

    
<script src="/public/validation.js"></script>





 
<%-include('../layouts/userfooter.ejs')  %>